.img {
    background-image: url('http://127.0.0.1:8000/img/stars.jpg');
    /* opacity: 0.9; */
}

#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75) url("/your_loading_image.gif") no-repeat center center;
    z-index: 99999;
    border: 9px solid #ec0b56;
    border-top-color: #2bef11;
    width: 201px;
    height: 201px;
    /* border-radius: 50%; */
    animation: spin 1s linear infinite;
}

.loader {
    border: 9px solid #ec0b56;
    border-top-color: #2bef11;
    width: 201px;
    height: 201px;
    /* border-radius: 50%; */
    animation: spin 1s linear infinite;
}

.loader1 {
    border: 9px solid #ec0b56;
    border-top-color: #2bef11;
    width: 190px;
    height: 190px;
    /* border-radius: 50%; */
    animation: spin 50s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.boxed {
    width: 425px;
    height: 383px;
    /* margin-left: 30px; */
    background-color: #191828;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient( to left top, #2bef11, #d9e71b);
    animation: spin 10s infinite;
}

.avatar-user {
    width: 299px;
    height: 278px;
    border-radius: 15%;
    margin-top: 50px;
    margin-left: 60px;
    position: relative;
}

.avatar-input {
    position: absolute;
    top: 250px;
    right: 95px;
}

.avatar-input i {
    font-size: 20px;
    background-color: #FF7506;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #FFF;
    color: #FFF;
}

.margin-top {
    margin-top: 50px;
}

.btn-create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    margin-left: 5%;
    /* position: absolute; */
    width: 147px;
    height: 48px;
    left: 179px;
    top: 0px;
    /* Orange/$-Orange-400 */
    background: #FF9138;
    color: black;
    /* down */
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
}

.btn-cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    margin-left: 500px;
    color: black;
    /* position: absolute; */
    width: 147px;
    height: 48px;
    left: 0px;
    top: 0px;
    /* Orange/$-Orange-50 */
    background: #FFF2E7;
    /* Orange/$-Orange-400 */
    border: 1.5px solid #FF9138;
    box-sizing: border-box;
    /* down */
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
}

.read-more {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}


/* Button css*/

.form-groupp {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

.btn__neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    overflow: hidden;
    transition: 0.2s;
    text-decoration: none;
}

.btn__neon:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
    text-decoration: none;
}

.btn__neon span {
    position: absolute;
    display: block;
}

.btn__neon span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.btn__neon:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.btn__neon span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.btn__neon:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.btn__neon span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.btn__neon:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn__neon span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.btn__neon:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/* Nút ẩn hiện */

.read-more-show {
    cursor: pointer;
    font-size: 1rem;
    /* display: grid; */
    place-items: center;
    min-height: 70px;
    border: 4px solid;
    /* padding: 1rem; */
    font-style: italic;
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}

.read-more-hide {
    cursor: pointer;
    font-size: 1rem;
    /* display: grid; */
    place-items: center;
    min-height: 70px;
    border: 4px solid;
    /* padding: 1rem; */
    font-style: italic;
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}

.none {
    display: none;
}

.hide_content {
    display: none;
}

.none {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.border {
    font-size: 1rem;
    /* display: grid; */
    place-items: center;
    min-height: 20px;
    border: 8px solid;
    padding: 1rem;
}

.full {
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}